form {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: baseline;
}

div {
    display:flex;
    gap: 20px;
    justify-content: center;
    align-items: baseline;
}