<div id="equipment">
    <p>Equipment</p>
    <hr>
    <xp-equipment-form></xp-equipment-form>
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Tip</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Patike</td>
                <td>Obuca</td>
                <td><button mat-raised-button color="accent">Delete</button></td>
            </tr>
            <tr>
                <td>Bord</td>
                <td>Ski oprema</td>
                <td><button mat-raised-button color="accent">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
