<div id="equipment">
    <p>Equipment</p>
    <hr>
    <xp-equipment-form (equimpentUpdated)="getEquipment()"></xp-equipment-form>
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let eq of equipment">
                <td>{{eq.name}}</td>
                <td>{{eq.description}}</td>
                <td><button mat-raised-button color="accent" (click)="deleteEquipment(eq.id || 0)">Delete</button></td>
                <td><button mat-raised-button color="primary" (click)="onUpdateClicked(eq)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>
